.Button {
  background-color: greenyellow;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: black;
  transition: opacity 0.2s;
  font-size: 2em;
}

.Button:hover {
  opacity: 0.7;
}
