.Die {
  background-color: greenyellow;
  border-radius: 10px;
  color: black;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
  font-size: 2em;
}
