h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* Media query for phones */
@media (min-width: 576px) {
  h1 {
    color: orange;
  }
}

/* Media query for tablets*/
@media (min-width: 768px) {
  h1 {
    color: yellow;
  }
}

/* Media query for desktops */
@media (min-width: 992px) {
  h1 {
    color: green;
  }
}

/* Media query for large desktops */
@media (min-width: 1200px) {
  h1 {
    color: aquamarine;
  }
}

/* Media query for phones and small tablets*/
@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
/* Media query for small phones */
@media (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}
